<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>Login-Minsx-Framework</title>
<meta name="description" content="User login page" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet"
	href="font-awesome/4.2.0/css/font-awesome.min.css" />
<!-- ace styles -->
<link rel="stylesheet" href="css/ace.min.css" />
<link rel="stylesheet" href="css/ace-rtl.min.css" />
</head>

<body class="login-layout light-login">

	<div class="position-relative">
		<div id="login-box" class="login-box visible widget-box no-border">
			<div class="widget-body">
				<div class="widget-main">
					<h4 class="header blue lighter bigger">
						<i class="ace-icon fa fa-coffee green"></i> 请输入您的信息
					</h4>

					<div class="space-6"></div>

					<form>
						<fieldset>
							<label class="block clearfix"> <span
								class="block input-icon input-icon-right"> <input
									type="text" class="form-control"  id="username" placeholder="用户名/邮箱/手机号" /> <i
									class="ace-icon fa fa-user"></i>
							</span>
							</label> <label class="block clearfix"> <span
								class="block input-icon input-icon-right"> <input
									type="password" class="form-control"  id="password" placeholder="密码" /> <i
									class="ace-icon fa fa-lock"></i>
							</span>
							</label>

							<div class="space"></div>

							<div class="clearfix">
								<label class="inline"> <input type="checkbox"
									class="ace" /> <span class="lbl"> 记住</span>
								</label>

								<button type="button" onclick="login();"
									class="width-35 pull-right btn btn-sm btn-primary">
									<i class="ace-icon fa fa-key"></i> <span class="bigger-110">登录</span>
								</button>
							</div>

							<div class="space-4"></div>
						</fieldset>
					</form>

					<div class="social-or-login center">
						<span class="bigger-110">第三方登录</span>
					</div>

					<div class="space-6"></div>

					<div class="social-login center">
						<a class="btn btn-primary"> <i class="ace-icon fa fa-facebook"></i>
						</a> <a class="btn btn-info"> <i class="ace-icon fa fa-twitter"></i>
						</a> <a class="btn btn-danger"> <i
							class="ace-icon fa fa-google-plus"></i>
						</a>
					</div>
				</div>
				<!-- /.widget-main -->

				<div class="toolbar clearfix">
					<div>
						<a href="#" data-target="#forgot-box" class="forgot-password-link">
							<i class="ace-icon fa fa-arrow-left"></i> 忘记密码
						</a>
					</div>

					<div>
						<a href="#" data-target="#signup-box" class="user-signup-link">
							注册 <i class="ace-icon fa fa-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<!-- /.widget-body -->
		</div>
		<!-- /.login-box -->

		<div id="forgot-box" class="forgot-box widget-box no-border">
			<div class="widget-body">
				<div class="widget-main">
					<h4 class="header red lighter bigger">
						<i class="ace-icon fa fa-key"></i> 找回密码
					</h4>

					<div class="space-6"></div>
					<p>请输入您的邮箱</p>

					<form>
						<fieldset>
							<label class="block clearfix"> <span
								class="block input-icon input-icon-right"> <input
									type="email" class="form-control" placeholder="Email" /> <i
									class="ace-icon fa fa-envelope"></i>
							</span>
							</label>

							<div class="clearfix">
								<button type="button"
									class="width-35 pull-right btn btn-sm btn-danger">
									<i class="ace-icon fa fa-lightbulb-o"></i> <span
										class="bigger-110">发送邮件</span>
								</button>
							</div>
						</fieldset>
					</form>
				</div>
				<!-- /.widget-main -->

				<div class="toolbar center">
					<a href="#" data-target="#login-box" class="back-to-login-link">
						返回登录 <i class="ace-icon fa fa-arrow-right"></i>
					</a>
				</div>
			</div>
			<!-- /.widget-body -->
		</div>
		<!-- /.forgot-box -->

		<div id="signup-box" class="signup-box widget-box no-border">
			<div class="widget-body">
				<div class="widget-main">
					<h4 class="header green lighter bigger">
						<i class="ace-icon fa fa-users blue"></i> 用户注册
					</h4>

					<div class="space-6"></div>
					<p>填写信息:</p>

					<form>
						<fieldset>
							<label class="block clearfix"> <span
								class="block input-icon input-icon-right"> <input
									type="email" class="form-control" placeholder="邮箱" /> <i
									class="ace-icon fa fa-envelope"></i>
							</span>
							</label> <label class="block clearfix"> <span
								class="block input-icon input-icon-right"> <input
									type="text" class="form-control" placeholder="用户名" /> <i
									class="ace-icon fa fa-user"></i>
							</span>
							</label> <label class="block clearfix"> <span
								class="block input-icon input-icon-right"> <input
									type="password" class="form-control" placeholder="密码" /> <i
									class="ace-icon fa fa-lock"></i>
							</span>
							</label> <label class="block clearfix"> <span
								class="block input-icon input-icon-right"> <input
									type="password" class="form-control" placeholder="确认密码" /> <i
									class="ace-icon fa fa-retweet"></i>
							</span>
							</label> <label class="block"> <input type="checkbox" class="ace" />
								<span class="lbl"> 接受 <a href="#">用户协议</a>
							</span>
							</label>

							<div class="space-24"></div>

							<div class="clearfix">
								<button type="reset" class="width-30 pull-left btn btn-sm">
									<i class="ace-icon fa fa-refresh"></i> <span class="bigger-110">重置</span>
								</button>

								<button type="button"
									class="width-65 pull-right btn btn-sm btn-success">
									<span class="bigger-110">注册</span> <i
										class="ace-icon fa fa-arrow-right icon-on-right"></i>
								</button>
							</div>
						</fieldset>
					</form>
				</div>

				<div class="toolbar center">
					<a href="#" data-target="#login-box" class="back-to-login-link">
						<i class="ace-icon fa fa-arrow-left"></i> 返回登录
					</a>
				</div>
			</div>
			<!-- /.widget-body -->
		</div>
		<!-- /.signup-box -->
	</div>
	<!-- /.main-container -->

	<script type="text/javascript" src="js/jquery.min.js"></script>

	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		jQuery(function($) {
			$(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			});
		});

		jQuery(function($) {

		});

		//登录成功回调
		function successCallBack(data,status) {
			if (data.isSuccess) {
				window.location.href = getUrlParam("redir");
			} else {
				alert(data.msg);
			}
		}
		
		//登录
		function login() {
			$.post("/loginServer/login", {
				username : $('#username').val(),
				password : $('#password').val()
			}, successCallBack);
		}

		//回车键事件
		$('#password').bind('keypress', function(event) {
			if (event.keyCode == "13") {
				login();
			}
		});
		
		//获取url中的参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
	</script>
	<div style="text-align: center;"></div>
</body>
</html>
